.list-outer {
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.list-inner {
  position: relative;
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  box-sizing: border-box;
}