body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
}

.list-outer {
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.list-inner {
  position: relative;
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  box-sizing: border-box;
}

.list-item-link {
  color: #0066c0;
  text-decoration: none;
  font-size: 1.2rem;
}

.list-item-authors {
  display: block;
  font-size: .8rem;
}

.list-item-description {
  margin-bottom: 0;
}